<% if (!index){ %>
  <%- partial('post/nav') %>
<% } %>

<article class="hentry" itemprop="blogPost" itemscope itemtype="https://schema.org/BlogPosting">
  <header class="entry-header">
    <%- partial('post/title') %>

    <%- partial('post/date', {date_format: 'MMMM D YYYY'}) %>
  </header>

  <div class="entry-content">
    <% if (post.excerpt && index){ %>
      <%- post.excerpt %>
      <% if (theme.excerpt_link){ %>
        <p class="article-more-link">
          <a href="<%- url_for(post.path) %>#more"><%= theme.excerpt_link %></a>
        </p>
      <% } %>
    <% } else { %>
      <%- post.content %>
    <% } %>
  </div>

  <footer class="entry-meta">
    <% if (post.categories && post.categories.length){ %>
      <span class="cat-links">
        <%= __('posted_in')%> <%- list_categories(post.categories, {
          show_count: false,
          class: '',
          style: 'none',
          separator: ','
        }) %>
      </span>
      <% if (post.tags && post.tags.length){ %>
        <span class="sep"> | </span>
        <span class="tag-links">
          <%= __('tagged') %> <%- list_tags(post.tags, {
            show_count: false,
            class: 'article-tag',
            style: 'none',
            separator: ','
          }) %>
        </span>
      <% } %>
    <% } %>
  </footer>
</article>
