<header id="branding" role="banner">
  <hgroup>
    <h1 id="site-title"><span><a href="<%- url_for() %>" rel="home"><%= config.title %></a></span></h1>
    <h2 id="site-description"><%= theme.subtitle || config.subtitle %></h2>
  </hgroup>

  <a href="/">
    <img src="/css/images/headers/pine-cone.jpg" />
  </a>

  <!--
  <div id="searchform">
    <%- search_form({button: '&#xF002;', text: __('search')}) %>
  </div>
  -->

  <nav id="access" role="navigation">
    <h3 class="assistive-text">Main menu</h3>
    <div class="menu">
      <ul>
        <% for (var i in theme.menu){ %>
          <li>
            <a href="<%- url_for(theme.menu[i]) %>"><%= i %></a>
          </li>
        <% } %>
      </ul>
    </div>
  </nav><!-- #access -->
</header><!-- #branding -->